<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="main_header">
        <nav class="main_header__nav">
            <ul class="main_header_item-list">
                <li class="main_header__item"><a href="/">Shop</a></li>
                <li class="main_header__item"><a href="/admin/add-product" class="active">Add product</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <form action="/admin/product" method="post" class="product-form">
            <div class="form-control">
                <label for="productName">Product Name</label>
                <input type="text" name="product">
            </div>
            <button class="btn" type="submit">Add Product</button>
        </form>
    </main>
</body>

</html>