<%- include('includes/head.ejs')%>
    </head>

    <body>

        <%- include('includes/navigation.ejs')%>
            <main>
                <h1>Login Page</h1>

                <form action="/login">
                    <div class="form-control">
                        <label for="email">Email</label>
                        <input type="text" name="email">
                    </div>

                    <div class="form-control">
                        <label for="password">Password :</label>
                        <input type="text" name="password">
                    </div>
                    <div>
                        <button class="btn" type="submit">login</button>
                        <a class="btn" href="/register">Register</a>
                    </div>
                </form>
        <%- include('includes/end.ejs')%>